.logo, .user, .search { float: left; }
.logo { padding: 8px 8px 8px 0; }
.logo img { display: inherit; width: 100%; }

.active { border-bottom: 4px solid #fff; }

.footer-divider::before {
    content: "";
    display: block;
    border-bottom: 1px solid red;
    height: 1px;
    width: 40px;
    margin-bottom: 6px;
}

.block-media::before {
    content: "";
    display: block;
    border-top: 1px solid #ccc;
    padding-bottom: 24px;
    margin-top: 32px;
    width: 100%;
}
.block-media h2 { font-size: 24px; font-weight: 400; margin-bottom: 16px; }
.block-media h3 { margin-bottom: 6px; }
.block-media__title-primary { font-size: 32px; margin-bottom: 12px; color: #222; }
.block-media__titel-secondary {
    font-size: 20px;
    letter-spacing: 0.6px;
    word-spacing: -2px;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}


.page-title { padding-top: 8px; }
.page-title h1 {
  margin: 0;
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 3px solid #a91717;
  display: inline-block;
}
.title-small { font-size: 16px; margin-bottom: 6px; }
.title-medium { font-size: 24px; }


.block-media__text { width: 40%; padding-right: 16px; }
.block-media__text-mini { width: 33.5%; padding-right: 16px; }
.block-media__footer { margin-bottom: 8px; }

.block-media__image { width: 60%; }
.block-media__image-large { width: 66.5%; padding-right: 16px; }
.block-media__columns { margin-top: 16px; }
.block-media__list {}
.block-media__list-link { display: block; padding: 4px 0 4px 0;}
.block-media__time-stamp { padding-right: 4px; }
.block-media__link-tag { padding-left: 4px; border-left: 1px solid #ccc; }

.block-footer { color: #fff; font-size: 14px; font-weight: bold; }
.block-footer a:visited { color: #fff; }
.block-footer a:hover { text-decoration: underline; }
.block-footer p { margin: 0; padding: 24px 0 12px 0; border-top: 1px solid #cccccc70; }


.block-footer__news-services { background-color: #2f2f2f; padding: 24px 0 18px 0; }
.block-footer__news-services h2 { font-size: 24px; font-weight: 400; }
.block-footer__news-services li { position: relative; }
.block-footer__news-services a { display: inline-block; line-height: 40px; padding-left: 12px; }

.block-footer__explore-bbc { background-color: #4c4c4c; border-top: 1px solid #ccc; }
.block-footer__explore-bbc ul { padding-bottom: 24px; margin-left: -16px;}
.block-footer__explore-bbc li { line-height: 34px; border-right: 1px solid #cccccc70; }
.block-footer__explore-bbc li:nth-child(6n) { border: 0; }
.block-footer__explore-bbc a { display: block; padding-left: 16px; }
.block-footer__explore-bbc h2 { font-size: 24px; padding-top: 24px; padding-bottom: 12px; }

.icon__mobile, .icon__tv, .icon__alerts, .icon__contact {
    display: block;
    float: left;
    position: relative;
    width: 35px;
}
.icon__mobile { content: url(images/mobile.svg); width: 18px; top: 4px; }
.icon__tv { content: url(images/tv.svg); width: 40px; top: 6px; }
.icon__alerts { content: url(images/alerts.svg); width: 27px; top: 4px; }
.icon__contact { content: url(images/contact.svg); top: 6px; }


.column__text { padding-top: 8px; }
.column__body { min-height: 136px; }
.column__title { margin: 9px 0 9px 0; }

.block__column-body {
    background-color: #ededed;
    padding: 0 8px 8px 8px;
    margin-bottom: 16px;
    /* min-height: 100px; */
}
.block__column-tag {
    display: block;
    font-size: 16px;
    padding-top: 9px;
}
.block__column-tag::after {
    content: "";
    display: block;
    width: 30px;
    border-bottom: 1px solid red;
    padding-bottom: 6px;
}


.padding__right { padding-right: 16px;}
.padding__none { padding: 0; }


.nav { margin-bottom: 0; letter-spacing: normal; position: relative; }
.nav li { float: left; }
.nav a { display: block; }


.nav__top-navigation {
    color: #333;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.nav__top-navigation li { border-right: 1px solid #ccc;}
.nav__top-navigation a {
    font-weight: bold;
    display: table-cell;
    height: 40px;
    padding: 10px 12px 10px 12px;
    vertical-align: middle;
}
.nav__top-navigation a:hover,
.nav__top-navigation a:visited { color: #333; }

.dropdown__top-navigation {
    /* position: absolute; */
    /* z-index: 1; */
    /* left: 0; */
    background: #fff;
    padding-top: 6px;
    /* height: 0px; */
    display: none;
}
.dropdown__top-navigation h2 { font-size: 28px; font-weight: 400; }
.dropdown__top-navigation a {
    padding: 4px 8px 4px 8px;
    margin: 0 0 8px 8px;
    line-height: 20px;
    height: 100%;
}
.dropdown__top-navigation a:hover { background-color: #000; color: #fff; }
.dropdown-button__top-navigation a { width: 130px; }
.dropdown:hover ~ .dropdown__top-navigation {
    display: block;
    transition: height 400ms;
    /* height: 158px; */
    box-shadow: 0px 4px 16px -5px #888;

}


.nav__main-navigation { background: #a91717; }
.nav__main-navigation ul { margin-left: -12px; }
.nav__main-navigation a {
  font-size: 14px;
  height: 35px;
  position: relative;
  color: #fff;
}
.nav__main-navigation a:hover{ border-bottom: 4px solid #fff; }
.nav__main-navigation span {
  border-right: 1px solid rgba(204, 204, 204, 0.3);
  padding: 0px 12px;
  position: relative;
  top: 10px;
}


/* .dropdown__block { border-top: 1px solid #ccc; } */
.dropdown__block li { border: none; }
.dropdown__block a {
    display: block;
    font-size: 13px;
    font-weight: bold;
}
.dropdown__block-title { width: 16%; margin: 0; }
.dropdown__block-links { width: 84%; padding-top: 8px; }


.dropdown-button__main-navigation { width: 72px; }
.dropdown-button__main-navigation a:hover { border: none; background: #000; }
.dropdown:hover .dropdown__main-navigation { display: block; }

.dropdown__main-navigation {
    background: #000;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 16px 0 16px 0;
    border-top: none;
    border-bottom: 4px solid #a91717;
    display: none;
}
.dropdown__main-navigation ul { margin: 0; }
.dropdown__main-navigation li { height: 100%; }
.dropdown__main-navigation a {
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    padding: 12px 0 12px 16px;
}
.dropdown__main-navigation a:hover { text-decoration: underline; border: none; }
.down-arrow__top-navigation { position: relative; }
.down-arrow__top-navigation::after {
    content: url(images/dropdown-icon.svg);
    position: absolute;
    width: 10px;
    left: 95px;
    top: 2px;
}
.down-arrow__main-navigation {
    border: none;
}
.down-arrow__main-navigation { display: block; }
.down-arrow__main-navigation::after {
  content: url(images/dropdown-icon-white.svg);
  position: absolute;
  width: 10px;
  right: 10px;
}


.right-arrow__main-navigation span {
    display: block;
    position: relative;
    top: 0;
    padding: 0;
    border: none;
}
.right-arrow__main-navigation span::after {
    content: url(images/arrow-right.svg);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    width: 10px;
    padding-left: 8px;
}


.user { position: relative;}
.user a { min-width: 168px; padding-left: 43px; }
.user-icon::before {
  content: url(images/user.svg);
  position: absolute;
  width: 20px;
  top: 9px;
  left: 16px;
}


.search {
    padding: 8px 0 8px 10px;
    height: 40px;
    border: none;
}
.search input {
    height: 24px;
    width: 168px;
    background: #e4e4e4;
    border: none;
    font-weight: bold;
    font-size: 13px;
    padding-left: 6px;
}
.search button {
    background: #e4e4e4;
    border: none;
    height: 24px;
    width: 30px;
    float: right;
}
.search img {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}


.banner { background: #bb1919; }
.banner-logo { padding-top: 14px; padding-bottom: 14px; }
.banner-logo a { display: inherit; width: 122px; }
.banner-logo img { display: inherit; width: 100%; }


.sidebar { width: 32%; height: 500px; border-left: 1px solid #ccc; padding-left: 16px; }
.sidebar h2 { font-size: 24px; font-weight: 400; color: #404040; }
.sidebar h3 { font-size: 16px; }
.sidebar__link-image { padding-right: 8px; width: 40%; }
.sidebar__link-title { width: 60%; margin-bottom: 16px; }
.sidebar__link-title h3 { margin-bottom: 8px; }
.sidebar__time-stamp { border-right: 1px solid #ccc; padding-right: 4px;}
.sidebar__link-tag { padding-left: 4px; }
